:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background: #ffffff;
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
  --footer-color-contacts: rgba(255, 255, 255, 0.6);
  --background-color-btn: #f5f4fa;
}

/*------------- studio.html------------ */

.site-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primary-text-color);
}

.point-none {
  list-style: none;
}

.underline-none {
  text-decoration: none;
}

/* -------Header------- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.header-logo-half {
  color: var(--accent-color);
}

.header-studio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.current {
  color: var(--accent-color);
}

.header-studio-link:hover,
.header-studio-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
.header-mail,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ----------Основное содержание Студия-------- */
.hero {
  background-color: var(--background-hero-footer);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.advantage-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.specialization-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--background-color-btn);
}

.team-member {
  background-color: var(--background);
}

.team-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--background);
}
.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-hero-footer);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-logo-half {
  color: var(--accent-color);
}

.footer-adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

/* ------portfolio-------- */

.portfolio-btn {
  background-color: var(--background-color-btn);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  border-color: transparent;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

.porfolio-link:hover,
.porfolio-link:focus {
}

.portfolio-example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-example-product {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
