:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background: #ffffff;
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
  --footer-color-contacts: rgba(255, 255, 255, 0.6);
  --background-color-btn: #f5f4fa;
}

/*------------- studio.html------------ */

.site-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 3px solid purple;
}
.point-none {
  list-style: none;
}

.underline-none {
  text-decoration: none;
}

/* -------Header------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.header-logo-half {
  color: var(--accent-color);
}

.header-studio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.current {
  color: var(--accent-color);
}

.header-studio-link:hover,
.header-studio-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
.header-mail,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ----------Основное содержание Студия-------- */
.hero {
  background-color: var(--background-hero-footer);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.advantage-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.specialization {
  padding-bottom: 94px;
}
.specialization-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--background-color-btn);
  padding-top: 94px;
}

.team-member {
  background-color: var(--background);
  padding-bottom: 94px;
}

.team-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--background);
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-logo-half {
  color: var(--accent-color);
}
.footer-contacts {
  margin-top: 20px;
}

.contacts-item-adress:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

/* ------portfolio-------- */
.portfolio-examples-list {
  padding-bottom: 94px;
}

.portfolio-btn {
  background-color: var(--background-color-btn);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  border-color: transparent;
  /* display: block; */
}
/* .portfolio-menu {
  margin-bottom: 340px; */

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}
.portfolio-list {
  margin-bottom: 34px;
}

.porfolio-link:hover,
.porfolio-link:focus {
}

.portfolio-foto {
  margin-bottom: 20px;
}

.portfolio-example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.portfolio-example-product {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
